.img {
  width: 100px;
  height: 150px;
}
.item {
  width: 150px;
  border: 1px solid #212121;
  border-radius: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
p {
  margin: 5px;
}
